<IfModule mod_mime.c>
    AddType image/avif .avif
    AddType image/webp .webp
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{QUERY_STRING} original$
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule . - [L]

    RewriteCond %{HTTP_ACCEPT} image/avif
    RewriteCond %{DOCUMENT_ROOT}/wp-content/converted/$1.$2.avif -f
    RewriteRule (.+)\.(jpe?g|png|gif)$ /wp-content/converted/$1.$2.avif [T=image/avif,L]

    RewriteCond %{HTTP_ACCEPT} image/webp
    RewriteCond %{DOCUMENT_ROOT}/wp-content/converted/$1.$2.webp -f
    RewriteRule (.+)\.(jpe?g|png|gif)$ /wp-content/converted/$1.$2.webp [T=image/webp,L]
</IfModule>